

table {
    width: 90vw;
    border-collapse: collapse;
    margin:auto;
    overflow: hidden;
  }

th {
    height:40px;
}
  
td {
    text-align: center;
    height:40px;
}

thead,td {
    border-bottom:1px solid #ddd;
    
}
.crud-img {
    vertical-align: middle;
    width:200px;
}

input {
    background-color: transparent;
    border: 1px solid #ddd;
    cursor:pointer;
    border-radius:7px;
    padding:5px 10px;
}
img.crud-img{
  width:200px;
}
