@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Cantora+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body,html {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body {
    background-color: #E5E3D9;
}



/* DEFAULT BEHAVIOUR */

ul {
    list-style:none;
    padding:0;
}

a {
    text-decoration: none;
    color:unset;
}

h1,h2,h3,h4 {
    color:#4C352A;
}

.mobile-menu-btn {
    width:30px;
    height:30px;
    cursor:pointer;
    outline:none;
    border:none;
    background-color: transparent;
    /* position:absolute;
    top:4%;
    right:4%; */
}


.button {
    width:160px;
    height:60px;
    text-align:center;
    padding:1rem 2rem;
    box-sizing: border-box;
    border:1px solid #7B9C32;
    background-color: #7B9C32;
    cursor:pointer;
    font-family:'Alumni Sans',sans-serif;
    font-size:22px;
    font-weight:500;
    text-decoration: none;
    transition:.3s;

    &:hover {
        background-color: transparent;

    }   

}


/* Header Styles */

.desktop-header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:1rem;
    height:9vh;
    width:100vw;

    > ul li{
        display:inline-block;
        font-family:'Cantora One';
        font-size:clamp(1rem,2vw,1.125rem);
        margin:0 1rem;
    }

    > ul li a:hover {
        color:#7B9C32;
    }

    .logo img {
        width:145px;
    }
}

.mobile-header {
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2% 4%;
    height:10vh;


    .logo img {
        width:145px;
    }
}

.mobile-menu {
    position:fixed;
    top:0;
    right:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: #E5E3D9;
    font-family:'Cantora One',sans-serif;
    
    > ul li {
        padding:10% 0;
        color:#4C352A;
        font-size:18px;
    }

    > ul li a {
        text-align: center;
    }

    .close {
        position:absolute;
        top:2%;
        right:4%;
    }

    .close img {
        height:22px;
    }
}


.hero-section {
  display:flex;
  flex-direction:row-reverse;
  margin:0;
  width:80vw;
  height:90vh;
  padding:0 10vw;
  align-items: center;
  gap:20px;
  max-width:1200px;
  justify-content: space-around;

  > img {
    width:50%;
    height:50%;
    min-width:600px;
    min-height:480px;
    object-fit: cover;
  }
  
  > div {
    display:flex;
    flex-direction: column;
    width:600px;
  }

  & div > h1 {
    font-size:clamp(1.75rem,4vw,2.25rem);
    text-transform: uppercase;
    margin:0;
    color:#4C352A;
  }

  & div > p {
    font-family:'Montserrat',sans-serif;
    font-size:clamp(1rem,2vh,1.125rem);
  }

  & div > a.button {
    font-size:1.5rem;
  }
  
  @media screen and (max-width:1200px) {
    img {
      min-height: unset;
      min-width:unset;
      width:50vw;
      height:50vw;
    }
  }
}


 @media screen and (max-width:850px) {
  .hero-section {
      flex-direction: column;
      width:80vw;
      height:85dvh;
      margin:0 auto ;
  }
  .hero-section img {
      width:100%;
      min-height:50%;
  }
  .hero-section > div {
      width:100%;
      align-items: center;
  }
  .hero-section > div p,h1 {
      text-align: center;
  }
}
